body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #35424a;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

header img {
  max-width: 150px; /* Adjust as needed */
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
}

section {
  padding: 2rem;
  margin: 2rem auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #35424a;
  color: #fff; /* Corrected spacing */
}

.search-bar {
  text-align: center;
  margin: 20px auto;
}

#searchInput {
  padding: 5px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#searchButton {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
